<main>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Disastero</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light me-2" [routerLinkActive]="'btn-warning'"
              [routerLink]="'#'">
              Home
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light me-2" [routerLinkActive]="'btn-warning'"
              [routerLink]="'../forecast'">
              Forecast
            </button>
          </li>
          <button type="button" class="btn btn-outline-light me-2" [routerLinkActive]="'btn-warning'"
            [routerLink]="'/crud/request-resource'">
            Request Resource
          </button>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light me-2" [routerLinkActive]="'btn-warning'"
              [routerLink]="'../center-locations'">
              Disaster Centers
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-light me-2" [routerLinkActive]="'btn-warning'"
              [routerLink]="'#'">
              Donation
            </button>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" [routerLink]="'/crud/forum'">Forum</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" [routerLink]="'/crud/user-list'">Users List</a></li>
              <li><a class="dropdown-item" [routerLink]="'/crud/request-list'">Request List</a></li>
              <li><a class="dropdown-item" [routerLink]="'/crud/create-resource'">Create Resource</a></li>
              <li><a class="dropdown-item" [routerLink]="'/crud/resource-list'">Available Resource</a></li>

            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <div class="d-flex">
          <button type="button" class="btn btn-outline-light me-2" [routerLinkActive]="'btn-warning'"
            [routerLink]="'../dashboard'">
            Dashboard
          </button>

          <button type="button" class="btn btn-outline-light me-2" [routerLinkActive]="'btn-warning'"
            [routerLink]="'../login'">
            Login
          </button>

          <!-- Search Form -->
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
</main>