<div class="cards-section">
    <!-- Donation Card -->
    <a href="/crud/c-donation-form" class="card">
      <div class="card-title">Donation</div>
      <div class="first-content">
        <img src="assets/icon/c_donation.png" alt="Donation Icon">
      </div>
      <div class="second-content">
        <span>Center Donation</span>
      </div>
    </a>
    <!-- Request Help Card -->
    <a href="/crud/c-request-form" class="card" >
      <div class="card-title">Request</div>
      <div class="first-content">
        <img src="assets/icon/c_request.png" alt="Request Help Icon">
      </div>
      <div class="second-content">
        <span>Center Requests</span>
      </div>
    </a>
  </div>

  
  