<div class="row">
  <div class="col-6 p-5">
    <form [formGroup]="resourceForm" (ngSubmit)="createOrUpdateResource(resourceForm.value)">
      
      <!-- Resource Name -->
      <div class="mb-3">
        <label for="resource-name" class="form-label">Resource Name</label>
        <input
          formControlName="name"
          type="text"
          class="form-control"
          id="resource-name"
          [ngClass]="{
          'is-invalid': resourceForm.get('name')?.invalid && resourceForm.get('name')?.touched,
          'is-valid': resourceForm.get('name')?.valid && resourceForm.get('name')?.touched
          }"
        >
        <div class="alert alert-danger" role="alert"
             *ngIf="resourceForm.get('name')?.invalid && resourceForm.get('name')?.touched">
          <span *ngIf="resourceForm.get('name')?.errors?.['required']">Resource name is required.</span>
          <span *ngIf="resourceForm.get('name')?.errors?.['minlength']">Resource name must contain at least 3 characters.</span>
          <span *ngIf="resourceForm.get('name')?.errors?.['maxlength']">Resource name must be within 50 characters.</span>
        </div>
      </div>

      <!-- Resource Description -->
      <div class="mb-3">
        <label for="resource-desc" class="form-label">Resource Description</label>
        <textarea
          formControlName="description"
          class="form-control"
          id="resource-desc"
          rows="5"
          [ngClass]="{
          'is-invalid': resourceForm.get('description')?.invalid && resourceForm.get('description')?.touched,
          'is-valid': resourceForm.get('description')?.valid && resourceForm.get('description')?.touched
          }"
        ></textarea>
        <div class="alert alert-danger" role="alert"
             *ngIf="resourceForm.get('description')?.invalid && resourceForm.get('description')?.touched">
          <span *ngIf="resourceForm.get('description')?.errors?.['required']">Resource description is required.</span>
          <span *ngIf="resourceForm.get('description')?.errors?.['minlength']">Resource description must contain at least 3 characters.</span>
          <span *ngIf="resourceForm.get('description')?.errors?.['maxlength']">Resource description must be within 500 characters.</span>
        </div>
      </div>

      <!-- Resource Quantity -->
      <div class="mb-3">
        <label for="resource-quantity" class="form-label">Resource Quantity</label>
        <input
          formControlName="quantity"
          type="number"
          class="form-control"
          id="resource-quantity"
          [ngClass]="{
          'is-invalid': resourceForm.get('quantity')?.invalid && resourceForm.get('quantity')?.touched,
          'is-valid': resourceForm.get('quantity')?.valid && resourceForm.get('quantity')?.touched
          }"
        >
        <div class="alert alert-danger" role="alert"
             *ngIf="resourceForm.get('quantity')?.invalid && resourceForm.get('quantity')?.touched">
          <span *ngIf="resourceForm.get('quantity')?.errors?.['required']">Resource quantity is required.</span>
          <span *ngIf="resourceForm.get('quantity')?.errors?.['min']">Resource quantity must be at least 1.</span>
          <span *ngIf="resourceForm.get('quantity')?.errors?.['max']">Resource quantity cannot exceed 99999999.</span>
        </div>
      </div>

      <!-- Resource Type -->
      <div class="mb-3">
        <label for="resource-type" class="form-label">Resource Type</label>
        <select
          formControlName="type"
          class="form-control"
          id="resource-type"
          [ngClass]="{
          'is-invalid': resourceForm.get('type')?.invalid && resourceForm.get('type')?.touched,
          'is-valid': resourceForm.get('type')?.valid && resourceForm.get('type')?.touched
          }"
        >
          <option value="">Select Type</option>
          <option value="material">Material</option>
          <option value="equipment">Equipment</option>
          <option value="personnel">Personnel</option>
          <option value="food">Food</option> <!-- Fix the duplicate 'personnel' option -->
        </select>
        <div class="alert alert-danger" role="alert"
             *ngIf="resourceForm.get('type')?.invalid && resourceForm.get('type')?.touched">
          <span *ngIf="resourceForm.get('type')?.errors?.['required']">Resource type is required.</span>
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">{{ buttonText }}</button>
    </form>
  </div>
</div>
