<body>
  <div class="donation-container">
    <form action="https://www.sandbox.paypal.com/ncp/payment/F9TXXP4V38AD4" method="post" target="_top">
      <h1 style="font-size: 1.5rem; color: #333333; margin-bottom: 1rem;">Support Our Cause</h1>
      <p style="font-size: 1rem; color: #666666; margin-bottom: 1.5rem;">Make a donation to help us continue our work.</p>
      <input class="pp-F9TXXP4V38AD4" type="submit" value="Donate Now" />
      <img src="https://www.paypalobjects.com/images/Debit_Credit.svg" alt="Accepted Cards" class="cards-image" />
      <div class="powered-by">
        Powered by 
        <img src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg" alt="PayPal">
      </div>
    </form>
  </div>