<div class="dashboard-container">
    <!-- Admin-Specific Section -->
    <div *ngIf="isAdmin()" class="admin-section">
      <h1>Welcome, <span class="highlight">{{ adminName }}</span></h1>
      <h2>Admin Dashboard</h2>
      <div class="cards">
        <div class="card blue" [routerLink]="'/crud/create-resource'">
          <p class="tip">Resources</p>
          <p class="second-text">Create new resource</p>
        </div>
        <div class="card cyan" [routerLink]="'/crud/resource-list'">
          <p class="tip">Manage Resources</p>
          <p class="second-text">Manage resource list</p>
        </div>
        <div class="card orange" [routerLink]="'/crud/request-list'">
          <p class="tip">Manage Requests</p>
          <p class="second-text">View list of requests</p>
        </div>
        <div class="card green" [routerLink]="'/crud/donation-list'">
          <p class="tip">Manage Donations</p>
          <p class="second-text">View list of donations</p>
        </div>
        <div class="card grey" [routerLink]="'/crud/user-list'">
          <p class="tip">Manage Users</p>
          <p class="second-text">View list of users</p>
        </div>
      </div>
    </div>
  
    <!-- User-Specific Section -->
    <div *ngIf="!isAdmin()" class="user-section">
      <h1>Welcome, <span class="highlight">{{ userName }}</span></h1>
      <h2>User Dashboard</h2>
      <div class="user-actions">
        <button [routerLink]="'/crud/request-resource'" class="action-btn">
          Make a Request
        </button>
        <button [routerLink]="'/crud/donation-form'" class="action-btn">
          Donate Resources
        </button>
      </div>
    </div>
  </div>
  